<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/reverse.css">
    <script src="../assets/js/reverse.js"></script>
    <title>Reverse a String</title>
</head>
<body>
    <div id="menu-topo"><button id="voltar" class="botao">Home</button></div>
    <div class="content">
        <h2>Exercício Reverse a String</h2>

        <div class="form">
            <label for="texto"><strong>Informe um texto:</strong></label><br>
            <input type="text" name="texto" id="texto">
            <button id="reverter" class="botao">Reverter</button>
            <button id="limpar" class="botao">Limpar</button>
        </div>

        <div id="resultado">
            <label for="resultado"><strong>Resultado:</strong></label>
            <div id="oResultado"></div>
        </div>
    </div>
    <script>init();</script>
</body>
</html>