<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/fizzbuzz.css">
    <script src="../public/js/fizzbuzz.js"></script>
    <title>FizzBuzz</title>
</head>
<body>
    <div id="menu-topo"><button id="voltar" class="botao">Home</button>  <h3>Exercício FizzBuzz</h3></div>
    <div class="content">
        <div class="form">
            <input type="text" name="valor" id="valor" placeholder="Informe um valor">
            <button id="executar" class="botao">Executar</button>
            <button id="limpar" class="botao">Limpar</button>
        </div>

        <div id="resultado">
            <label for="resultado"><strong>Resultado:</strong></label>
            <div id="oResultado"></div>
        </div>
    </div>


    <script>init();</script>
</body>
</html>